:root {
font-family:Roboto, sans-serif ;
  --color-primary-900: #0e1a3e;
  --color-primary-800: #182b68;
  --color-primary-700: #213d92;
  --color-primary-600: #2a4ebb;
  --color-primary-500: #4468d5;
  --color-primary-400: #6d89de;
  --color-primary-300: #97abe7;
  --color-primary-200: #c1cdf1;
  --color-primary-100: #eaeefa;

  --color-success-900: #001a05;
  --color-success-800: #004d0f;
  --color-success-700: #00801a;
  --color-success-600: #00b324;
  --color-success-500: #00e62e;
  --color-success-400: #1aff48;
  --color-success-300: #4dff71;
  --color-success-200: #80ff99;
  --color-success-100: #b3ffc2;
   --color-success-50: #e5ffeb;
   
  --color-warning-900: #160b04;
  --color-warning-800: #42210b;
  --color-warning-700: #6d3712;
  --color-warning-600: #994d19;
  --color-warning-500: #c56321;
  --color-warning-400: #de7d3a;
  --color-warning-300: #e69a66;
  --color-warning-200: #edb792;
  --color-warning-100: #f4d4bd;
  --color-warning-50: #fbf1e9;
}

* {
  box-sizing: border-box;
}

ul, ol{
list-style:none;
}
a{
  text-decoration:none;
}
