@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
:root {
 
  --color-white:#ffffff;
  --color-black:#050915;

  --color-primary-900: #0e1a3e;
  --color-primary-800: #182b68;
  --color-primary-700: #213d92;
  --color-primary-600: #2a4ebb;
  --color-primary-500: #4468d5;
  --color-primary-400: #6d89de;
  --color-primary-300: #97abe7;
  --color-primary-200: #c1cdf1;
  --color-primary-100: #eaeefa;

  --color-stroke-900: #0d0d0d;
  --color-stroke-800: #262626;
  --color-stroke-700: #404040;
  --color-stroke-600: #595959;
  --color-stroke-500: #737373;
  --color-stroke-400: #8c8c8c;
  --color-stroke-300: #a6a6a6;
  --color-stroke-200: #bfbfbf;
  --color-stroke-100: #d9d9d9;
  --color-stroke-50: #f2f2f2;

  --color-success-900: #001a05;
  --color-success-800: #004d0f;
  --color-success-700: #00801a;
  --color-success-600: #00b324;
  --color-success-500: #00e62e;
  --color-success-400: #1aff48;
  --color-success-300: #4dff71;
  --color-success-200: #80ff99;
  --color-success-100: #b3ffc2;
  --color-success-50: #e5ffeb;

  --color-error-900: #1a0000;
  --color-error-800: #4d0000;
  --color-error-700: #800000;
  --color-error-600: #b30000;
  --color-error-500: #e60000;
  --color-error-400: #ff1a1a;
  --color-error-300: #ff4d4d;
  --color-error-200: #ff8080;
  --color-error-100: #ffb3b3;
  --color-error-50: #ffe5e5;

  --color-warning-900: #160b04;
  --color-warning-800: #42210b;
  --color-warning-700: #6d3712;
  --color-warning-600: #994d19;
  --color-warning-500: #c56321;
  --color-warning-400: #de7d3a;
  --color-warning-300: #e69a66;
  --color-warning-200: #edb792;
  --color-warning-100: #f4d4bd;
  --color-warning-50: #fbf1e9;

  --text-12:12px;
  --text-14:14px;
  --text-16:16px;
  --text-18:18px;
  --text-20:20px;
  --text-24:24px;
  --text-28:28px;
  --text-32:32px;
  --text-36:36px;
  --text-40:40px;
  --text-44:44px;
  --text-48:48px;

}

  h1{
    font-size: var(--text-48);
    font-weight: 700;
  }
  h2{
    font-size: var(--text-40);
    font-weight: 700;
  }
  h3{
    font-size: var(--text-32);
    font-weight: 600;
  }
  h4{
    font-size: var(--text-24);
    font-weight: 600;
  }
  h5{
    font-size: var(--text-20);
    font-weight: 500;
  }
  h6{
    font-size: var(--text-18);
    font-weight: 500;
  }

* {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}

body{
  font-family:"DM Sans", sans-serif ;
}